<mat-tab-group class="col-12">
    <mat-tab label="Ekle">
        <div class="col-12 center">
            <form #loginForm="ngForm" (ngSubmit)="addCategoty()">
                <div class="form-group" >
                <label for="name-lable">Kategori Adı</label>
                <input [(ngModel)]="baseProcessor.insertModel.name" type="text" name="name" class="form-control" id="nameInput" placeholder="">
                </div>
                <div class="form-group">
                    <div class="p-2 ">
                        <button type="submit" class="btn btn-secondary myButton">Ekle</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Sil">
        <div class="col-12 d-flex flex-row">
            <div class="col-12 overflow-auto" >
                <table class="table col-12" >
                    <thead>
                    <tr>
                        <th scope="col">Kategori Adı</th>
                        <th scope="col">Kutu</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories"  >
                            <td>{{category.name}}</td>
                            <td><input class="form-check-input" type="checkbox"  
                                value="{{category.id}}"
                               (change)="changeStackRemove(category.id)"
                               id="autoSizingCheck"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-2 ">
            <button type="button" (click)="removeCategories()" class="btn btn-secondary myButton">Sil</button>
        </div>
    </mat-tab>
    <mat-tab label="Güncelle">
        <div class="col-12 d-flex flex-row">
            <div class="col-12 overflow-auto" ><!--tablo eklenecek-->
                <table class="table col-12">
                    <thead>
                    <tr>
                        <th scope="col">Kategori Adı</th>
                        <th scope="col">Kutu</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories"  >
                            <td>{{category.name}}</td>
                            <td><input class="form-check-input" type="radio"  
                                value="{{category.id}}"  name="flexRadioDefault"
                               (change)="changeUpdateData(category.id)"
                               id="autoSizingCheck"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form>
            <div class="form-group" >
              <label for="nameLable">Kategori Adı</label>
              <input type="text" class="form-control" aria-label="Amount" name="name"  [(ngModel)]="baseProcessor.updateModel.name">
            </div>
          </form>
    </mat-tab>
</mat-tab-group>