
<mat-tab-group class="col-12">
    <mat-tab label="Ekle">
    <div class="col-12 center">
        <form  #loginForm="ngForm" (ngSubmit)="addTable()">
            <div class="form-group" >
              <label for="FootnameLable">Masa Adı</label>
              <input [(ngModel)]="model.name" type="text" name="name"  class="form-control" id="FootnameInput" placeholder="">
            </div>
            <div class="form-group">
                <div class="p-2 ">
                    <button type="submit" class="btn btn-secondary myButton">Ekle</button>
                </div>
            </div>
          </form>
    </div>
    </mat-tab>
    <mat-tab label="Sil">
        <div class="col-12 d-flex flex-row">
            <div class="col-12 overflow-auto" style="height: 200px;"><!--tablo eklenecek-->
                <table class="table col-12" >
                    <thead>
                    <tr>
                        <th scope="col">Masa Adı</th>
                        <th scope="col">Kutu</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let table of tables"  >
                            <td>{{table.name}}</td>
                            <td><input class="form-check-input" type="checkbox"  
                                value="{{table.id}}"
                               (change)="updateCheckedOptions(table.id)"
                               id="autoSizingCheck"></td>
                        </tr>
                  
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-2 ">
            <button type="button" (click)="removeTable()" class="btn btn-secondary myButton">Sil</button>
        </div>
    </mat-tab>
    <mat-tab label="Güncelle">
        <div class="col-12 d-flex flex-row">
            <div class="col-12 overflow-auto" style="height: 200px;"><!--tablo eklenecek-->
                <table class="table col-12" ng-click="setSelected();">
                    <thead>
                    <tr>
                        <th scope="col">Masa Adı</th>
                        <th scope="col">Kutu</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let table of tables"  >
                            <td>{{table.name}}</td>
                            <td><input class="form-check-input" type="radio"  
                                value="{{table.id}}"  name="flexRadioDefault"
                               (change)="onChangeForUpdate(table.id)"
                               id="autoSizingCheck"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form>
            <div class="form-group" >
              <label for="FootnameLable">Masa Adı</label>
              <input type="text" class="form-control" aria-label="Amount" name="name"  [(ngModel)]="modelforUpdate.name">
            </div>
          </form>
    </mat-tab>
</mat-tab-group>