<mat-tab-group class="col-12">
    <mat-tab label="Ekle">
    <div class="col-12 center">
        <form #loginForm="ngForm" (ngSubmit)="add()">
            <div class="form-group" >
              <label for="nameLable">Yemek Adı</label>
              <input type="text" [(ngModel)]="insertModel.name" name="name" class="form-control" id="nameInput" placeholder="">
            </div>
            <div  *ngIf="categories"  class="form-group">
                <label for="CategoriesLable">Yemek Kategorisi</label>
                <select class="form-control" id="CategoriesSelect" aria-placeholder="Kategori seç"  [ngModel]="selectedCategory" (ngModelChange)="onChangeCategoryInFoodFromAdd($event)" name="sel2">
                    <option value="" selected disabled>Kategori seç</option>
                    <option *ngFor="let category of categories" [ngValue]="category"  >
                        {{ category.name }}
                    </option>
              </select>
            </div>
            <div class="form-group">
                <label for="AmountLable">Ücret</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" aria-label="Amount" name="price"  [(ngModel)]="insertModel.price">
                    <div class="input-group-append">
                        <span class="input-group-text">₺</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="p-2 ">
                    <button type="submit" class="btn btn-secondary myButton">Ekle</button>
                </div>
            </div>
          </form>
    </div>
    </mat-tab>
    <mat-tab label="Sil">
        <div class="col-12 d-flex flex-row">
            <div class="col-12 overflow-auto"><!--tablo eklenecek-->
                <table *ngIf="foods"  class="table col-12" >
                    <thead>
                    <tr>
                        <th >Yemek Adı</th>
                        <th >Fiyat</th>
                        <th >Kutu</th>
                    </tr>
                    </thead>
                    <tbody>
                               
                    <tr *ngFor="let food of foods"  >
                        <td>{{food.name}}</td>
                        <td>{{food.price}}</td>
                        <td><input class="form-check-input" type="checkbox"  
                            value="{{food.id}}"
                           (change)="changeStackRemove(food.id)"
                           id="autoSizingCheck"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="padding: 0px;">
            <div class="p-2 ">
                <button type="button" (click)="remove()" class="btn btn-secondary myButton">Sil</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Güncelle">
        <div class="col-12 d-flex flex-row">
            <div class="col-12 overflow-auto"><!--tablo eklenecek-->
                <table class="table col-12" >
                    <thead>
                    <tr>
                        <th >Yemek Adı</th>
                        <th >Fiyat</th>
                        <th >Kutu</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let food of foods"  >
                            <td>{{food.name}}</td>
                            <td>{{food.price}}</td>
                            <td><input class="form-check-input" type="radio"  
                                value="{{food.id}}"  name="flexRadioDefault"
                               (change)="changeUpdateData(food.id)"
                               id="autoSizingCheck"></td>
                        </tr>
                </table>
            </div>
        </div>
        <form #loginForm="ngForm" >
            <div class="form-group" >
              <label for="nameLable">Yemek Adı</label>
              <input type="text" [(ngModel)]="updateModel.name" name="name" class="form-control" id="nameInput" placeholder="">
            </div>
            <div  *ngIf="categories"  class="form-group">
                <label for="FootCategoriesLable">Yemek Kategorisi</label>
                <select class="form-control" id="FootCategoriesSelect" aria-placeholder="Kategori seç"   [(ngModel)]="updateModel.category" (ngModelChange)="onChangeCategoryInFoodFromUpdate($event)" name="sel3">
                    <option value="" selected disabled>Kategori seç</option>
                    <option *ngFor="let category of categories" [ngValue]="category" >
                        {{ category.name }}
                    </option>
              </select>
            </div>
            <div class="form-group">
                <label for="amountLable">Ücret</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" aria-label="Amount" name="price"  [(ngModel)]="updateModel.price">
                    <div class="input-group-append">
                        <span class="input-group-text">₺</span>
                    </div>
                </div>
            </div>
            <div class="p-2 ">
                <button type="button" (click)="updateDataSave()" class="btn btn-secondary myButton">Güncellemeyi kaydet</button>
            </div>
          </form>
    </mat-tab>
</mat-tab-group>