
<mat-tab-group class="col-12">
    <mat-tab label="Ekle">
    <div class="col-12 center">
        <form>
            <div class="form-group" >
              <label for="FootnameLable">Yemek Adı</label>
              <input type="email" class="form-control" id="FootnameInput" placeholder="">
            </div>
            <div class="form-group">
                <label for="FootKategoriesLable">Yemek Kategorisi</label>
              <select class="form-control" id="FootKategoriesSelect">
                <option>tür1</option>
                <option>tür2</option>
              </select>
            </div>
            <div class="form-group">
                <label for="FootKategoriesLable">Ücret</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Amount">
                    <div class="input-group-append">
                        <span class="input-group-text">₺</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="FootImageLabel">Yemek Resmi</label>
                <input type="file" class="form-control-file" id="FootImageFile">
            </div>
            <div class="form-group">
                <div class="p-2 ">
                    <button type="button" class="btn btn-secondary myButton">Ekle</button>
                </div>
            </div>
          </form>
    </div>
    </mat-tab>
    <mat-tab label="Sil">
        <div class="col-12 d-flex flex-row">
            <div class="col-12 overflow-auto" style="height: 200px;"><!--tablo eklenecek-->
                <table class="table col-12" ng-click="setSelected();">
                    <thead>
                    <tr>
                        <th scope="col">Yemek Adı</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Kutu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td>Çay</td>
                        <td>5</td>
                        <td><input class="form-check-input" type="checkbox" id="autoSizingCheck"></td>
                    </tr>
                    <tr >
                        <td>Gold Kahve</td>
                        <td>10</td>
                        <td><input class="form-check-input" type="checkbox" id="autoSizingCheck"></td>
                    </tr>
                    <tr>
                        <td>Waffle</td>
                        <td>25</td>
                        <td><input class="form-check-input" type="checkbox" id="autoSizingCheck"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="padding: 0px;">
            <div class="p-2 ">
                <button type="button" class="btn btn-secondary myButton">Sil</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Güncelle">
        <div class="col-12 d-flex flex-row">
            <div class="col-12 overflow-auto" style="height: 200px;"><!--tablo eklenecek-->
                <table class="table col-12" ng-click="setSelected();">
                    <thead>
                    <tr>
                        <th scope="col">Yemek Adı</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Kutu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td>Çay</td>
                        <td>5</td>
                        <td>  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"></td>
                    </tr>
                    <tr >
                        <td>Gold Kahve</td>
                        <td>10</td>
                        <td>  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"></td>
                    </tr>
                    <tr>
                        <td>Waffle</td>
                        <td>25</td>
                        <td><input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form>
            <div class="form-group" >
              <label for="FootnameLable">Yemek Adı</label>
              <input type="email" class="form-control" id="FootnameInput" placeholder="">
            </div>
            <div class="form-group">
                <label for="FootKategoriesLable">Yemek Kategorisi</label>
              <select class="form-control" id="FootKategoriesSelect">
                <option>tür1</option>
                <option>tür2</option>
              </select>
            </div>
            <div class="form-group">
                <label for="FootKategoriesLable">Ücret</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Amount">
                    <div class="input-group-append">
                        <span class="input-group-text">₺</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="FootImageLabel">Yemek Resmi</label>
                <input type="file" class="form-control-file" id="FootImageFile">
            </div>
            <div class="form-group">
                <div class="p-2 ">
                    <button type="button" class="btn btn-secondary myButton">Ekle</button>
                </div>
            </div>
          </form>
    </mat-tab>
</mat-tab-group>