<div class="row">
  <div class="row col-8">
    <div class="col-8">
      <h4>Main/TableDetail/Masa1</h4>
    </div>  
    <div class="col-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>Ayarlar</option>
        <option value="1">Yemek İşlemleri</option>
        <option value="2">Kategori işlemleri</option>
        <option value="3">Masa İşlemleri</option>
      </select> 
    </div>  
  </div>
  <div class="row">
    <div class="col-8" >
      <app-component-tables></app-component-tables>
    </div>
    <div class="col-4" >
      <app-table-processors></app-table-processors>
    </div>
  </div>
</div>