<div class="row">
    <h4>Masa Adı</h4>
    <h5>İçerikler</h5>
    <div class="col-12 d-flex flex-row">
        <div class="col-12 overflow-auto" ><!--tablo eklenecek-->
            <table class="table col-12" >
                <thead>
                  <tr>
                    <th >Yemek Adı</th>
                    <th >Adet</th>
                    <th >Fiyat</th>
                    <th >Kutu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let myTF of tableFoot.foot">
                      <td *ngIf="myTF.paid==false">{{myTF.foot.name}}</td>
                      <td *ngIf="myTF.paid==false">{{myTF.menstruation}}</td>
                      <td *ngIf="myTF.paid==false">{{myTF.menstruation * myTF.foot.price}}</td>
                      <td *ngIf="myTF.paid==false"><input class="form-check-input" type="radio"  
                        value="{{myTF.foot.id}}"  name="flexRadioDefault"
                       (change)="onChangeForFee(myTF.foot.id)"
                       id="autoSizingCheck"></td>
                </tr>
              
                </tbody>
              </table>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="padding: 0px;">
        <div class="p-2 ">Ücret:{{getMainFee()}}</div>
        <div class="p-2 ">
            <button type="button" class="btn btn-secondary myButton" (click)="fullPay()">Hesabı Kapa</button>
            <button type="button" class="btn btn-secondary myButton" (click)="singlePay()">Çıkar</button>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="padding: 0px;">
        <div class="p-2 "> <label for="piece">Kişi Başı : {{getDivideFee()}}</label></div>
        <div class="p-2 ">
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="intDivid"  name="count" placeholder="Kişi Sayısı" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Böl</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="padding: 0px;">
        <div class="p-2 ">
            <button type="button" class="btn btn-secondary myButton">Yemek Ekle</button>
        </div>
    </div>
</div>

